nav{
    background-color: #252525;    
    opacity: 0.9;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.container{
    padding-left: 5vh;
}

a{
    color: white;
    margin: 1vh;
}

.navbar-nav{
    margin-left: 2vh;
}

a:hover{
    color: black;
    background-color: white;
}

#nav_logo{
    width: 10vh;
}

.projekt_card{
    width: 400px;
    height: 600px;
}